/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #3f36c3;
	--danger-color: #fa6d97;
	--light-color: #ffffff;
	--transition-duration: 0.5s;
	--text-color: #181c27;
	--dark-color: #000000;
}

@font-face {
	font-family: "Silka";
	src: url("../fonts/Silka-Regular.eot");
	src: url("../fonts/ilka-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Silka-Regular.woff2") format("woff2"),
		url("../fonts/Silka-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Silka";
	src: url("../fonts/Silka-Medium.eot");
	src: url("../fonts/Silka-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Silka-Medium.woff2") format("woff2"),
		url("../fonts/Silka-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.body-medium {
	font-family: "SilkaMedium", sans-serif;
}

.body-regular {
	font-family: "SilkaRegular", sans-serif;
}

/* Body */
body {
	font-family: "Silka", sans-serif;
	line-height: 1.3em;
	background-color: #f4f4f4;
	color: var(--component-text-color);
	overflow-x: hidden;
}

/* Container */
.container {
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
}

/* Links */
a {
	color: var(--primary-color);
	text-decoration: none;
}

/* Main Buttons */
.main-button {
	display: inline-block;
	padding: 7px 30px;
	font-size: 1em;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	transition: var(--transition-duration);
}

.main-button:hover {
	background: var(--primary-color);
	color: var(--light-color);
}

/* Images */
img {
	max-width: 100%;
	height: auto;
}


/* .gradient-text {
	background: linear-gradient(to right, var(--primary-color) 45%, var(--danger-color) 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 0.5s;
} */
.gradient-text {
	text-align: center;
	background: linear-gradient(to right, var(--primary-color) 45%, var(--danger-color) 70%);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: float 3s linear infinite;
  }
  
  @keyframes float {
	0% {
	  background-position: 0% center;
	}
	100% {
	  background-position: 200% center;
	}
  }
/* .animate-gradient {
	animation: gradient-slide 2s ease forwards;
}

@keyframes gradient-slide {
	0% {
		background-size: 0 100%;
		background-position: 0 100%;
		-webkit-text-fill-color: #3f36c3; 
	}
	100% {
		background-size: 100% 18%;
		background-position: 100% 50%;
	}
} */




.text {
	font-size: 18px;
	color: var(--text-color);
	line-height: 1.69em;
}
/* Utility Classes */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

/* grid sections */

.grid--item-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}
.grid--item-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
