@media screen and (min-width: 1600px) {
	.container {
		max-width: 1570px;
	}
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
	.container {
		max-width: 1370px;
	}
	.image-text {
		left: 5%;
	}

	.employees-section {
		padding: 3rem 0 4rem;
	}
	.sticky-heading {
		top: 3rem;
		margin-bottom: 560px;
	}
	.sticky-heading h1 {
		font-size: 3.8rem;
	}
	.employee {
		top: 220px;
		width: 320px;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: calc((100vw - 1575px) / 2 + 12px + 360px + 85px);
	}
	.employee:nth-child(3) {
		left: calc((100vw - 1575px) / 2 + 12px + 720px + 63px);
	}
	.employee:nth-child(4) {
		left: 100%;
	}
	.employee-picture {
		height: 240px;
	}
	.employee-inner .text {
		font-size: 17px;
	}

	.contact-inner-text {
		margin-left: 50px;
	}
	.our-clients-section {
		padding: 3rem 0;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
	.container {
		max-width: 1200px;
	}
	.hero-image img {
		height: 450px;
		width: auto;
		max-width: none;
	}
	.image-text {
		left: 2%;
	}
	.sent p,
	.received p {
		font-size: 15px;
	}
	.hero-content {
		width: 420px;
	}
	.hero-content h1 {
		font-size: 2.8rem;
	}

	.employees-section {
		padding: 2.5rem 0 3rem;
	}
	.sticky-heading {
		top: 2.5rem;
		margin-bottom: 470px;
	}
	.sticky-heading h1 {
		font-size: 3.4rem;
	}
	.employee {
		top: 180px;
		width: 275px;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: calc((100vw - 1575px) / 2 + 12px + 360px + 130px);
	}
	.employee:nth-child(3) {
		left: calc((100vw - 1575px) / 2 + 12px + 720px + 63px);
	}
	.employee:nth-child(4) {
		left: 100%;
	}
	.employee-picture {
		height: 205px;
	}
	.employee-inner {
		padding: 1.3rem;
		min-height: 240px;
	}
	.employee-inner h3 {
		font-size: 1.4rem;
	}
	.employee-inner .text {
		font-size: 16px;
	}
	.play-button {
		font-size: 14px;
		margin: 10px 0 0 10px;
		padding: 5px 15px 5px 15px;
	}
	.play-button .fas {
		font-size: 12px;
	}

	.contact-center {
		padding: 4rem 0 3rem 0;
	}
	.contact-inner-text {
		width: 85%;
	}
	.contact-inner-text h1 {
		font-size: 3.6rem;
	}
	.contact-inner-text p {
		font-size: 18px;
	}
	.image-container img {
		width: 70%;
	}

	.experience-section h1 {
		font-size: 3.4rem;
	}
	.grid--item-3 {
		gap: 1.5rem;
	}
	.experience-card {
		height: 600px;
	}
	.experience-card-overlay {
		padding: 2rem;
	}
	.experience-cat {
		font-size: 12px;
	}
	.experience-heading {
		font-size: 1.8rem;
	}
	.experience-text {
		font-size: 18px;
		line-height: 1.7em;
	}
	.experience-bottom-btn {
		font-size: 18px;
		bottom: 30px;
		right: 10px;
	}

	.contactus-section {
		padding: 6rem 0;
	}
	.content h1 {
		font-size: 3rem;
	}

	.column h4 {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
	.text {
		font-size: 16px;
		line-height: 1.5em;
	}

	.container {
		max-width: 980px;
		padding: 0;
	}
	.nav-item {
		margin: 0 5px;
	}
	.nav-right .main-button {
		padding: 5px 15px;
	}

	.hero-image {
		margin-top: 20px;
	}
	.hero-image img {
		height: 450px;
		width: auto;
		max-width: none;
		right: -50px;
		position: relative;
	}
	.image-text {
		left: 2%;
		top: 65%;
		width: 300px;
	}
	.sent p,
	.received p {
		font-size: 14px;
	}
	.hero-content {
		margin-left: 50px;
		width: 400px;
	}
	.hero-content h1 {
		font-size: 2.4rem;
	}
	.hero-content button {
		padding: 10px 20px;
	}

	.employees-section {
		padding: 2.5rem 0 3rem;
	}
	.sticky-heading {
		top: 2.5rem;
		margin-bottom: 435px;
	}
	.sticky-heading h1 {
		font-size: 3rem;
	}
	.employee {
		top: 180px;
		width: 235px;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: calc((100vw - 1575px) / 2 + 12px + 360px + 173px);
	}
	.employee:nth-child(3) {
		left: calc((100vw - 1575px) / 2 + 12px + 720px + 61px);
	}
	.employee:nth-child(4) {
		left: 100%;
	}
	.employee-picture {
		height: 178px;
	}
	.employee-inner {
		padding: 1.3rem;
		min-height: 210px;
	}
	.employee-inner h3 {
		font-size: 1.2rem;
		margin-bottom: 15px;
	}
	.employee-inner .text {
		font-size: 15px;
	}
	.play-button {
		font-size: 12px;
		margin: 8px 0 0 8px;
		padding: 4px 12px;
	}
	.play-button .fas {
		font-size: 12px;
	}

	.contact-center {
		padding: 4rem 0 3rem 0;
	}
	.contact-inner-text {
		width: 85%;
		margin-left: 20px;
	}
	.contact-inner-text h1 {
		font-size: 3rem;
	}
	.contact-inner-text p {
		font-size: 16px;
	}
	.contact-inner-text button {
		padding: 10px 20px;
	}
	.image-container img {
		width: 70%;
	}
	.icons {
		width: 75px;
	}
	.icon-text {
		font-size: 12px !important;
	}

	.experience-section {
		padding: 3rem 0 !important;
	}
	.experience-section h1 {
		font-size: 3rem;
	}
	.grid--item-3 {
		gap: 1.5rem;
	}
	.experience-card {
		height: 500px;
	}
	.experience-card-overlay {
		padding: 1.5rem;
	}
	.experience-cat {
		font-size: 12px;
	}
	.experience-heading {
		font-size: 1.6rem;
	}
	.experience-text {
		font-size: 16px;
		line-height: 1.6em;
	}
	.experience-bottom-btn {
		font-size: 16px;
		bottom: 30px;
		right: 10px;
	}
	.experience-section .main-button {
		padding: 10px 20px;
	}

	.our-clients-section {
		padding: 2.5rem 0;
	}

	.contactus-section {
		padding: 4rem 0;
	}
	.content h1 {
		font-size: 2.4rem;
	}
	.content .main-button {
		padding: 10px 25px;
	}

	.column h4 {
		font-size: 1.2rem;
	}
	.column ul li {
		font-size: 14px;
	}

	.footer-container {
		padding-left: 20px;
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.text {
		font-size: 15px;
		line-height: 1.4em;
	}
	.container {
		max-width: 700px;
		padding: 0;
	}

	.navbar-nav {
		margin: 25px 0;
	}
	.nav-right {
		margin-bottom: 20px;
	}

	.hero-image {
		margin-top: 0px;
	}
	.hero-image img {
		height: 450px;
		width: auto;
		max-width: none;
		right: -50px;
		position: relative;
	}
	.image-text {
		left: 0%;
		top: 70%;
		width: 300px;
	}
	.sent p,
	.received p {
		font-size: 14px;
	}
	.hero-content {
		margin-left: 20px;
		width: 300px;
	}
	.hero-content h1 {
		font-size: 2rem;
		margin-bottom: 20px;
	}
	.hero-content button {
		padding: 10px 20px;
	}

	.employees-section {
		padding: 2.5rem 0 3rem;
	}
	.sticky-heading {
		position: relative;
		margin-bottom: 30px;
		top: 0;
	}
	.sticky-heading h1 {
		font-size: 3rem;
	}
	.virtual-employ-cards {
		overflow: auto;
		clear: both;
	}
	.employee {
		position: relative;
		top: 0px;
		width: 46%;
		float: left;
		margin: 2%;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: 0;
	}
	.employee:nth-child(3) {
		left: 0;
	}
	.employee:nth-child(4) {
		left: 0;
	}
	.employee-picture {
		height: 245px;
	}
	.employee-inner {
		padding: 1.5rem;
		min-height: 200px;
	}
	.employee-inner h3 {
		font-size: 1.4rem;
		margin-bottom: 15px;
	}
	.employee-inner .text {
		font-size: 16px;
	}
	.play-button {
		font-size: 14px;
		margin: 10px 0 0 10px;
		padding: 6px 15px;
	}
	.play-button .fas {
		font-size: 14px;
	}

	.contact-center {
		padding: 3rem 0 3rem 0;
	}
	.contact-center .container {
		display: block;
	}
	.contact-inner-text {
		width: 90%;
		margin-left: 0px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.contact-inner-text h1 {
		font-size: 2.8rem;
		width: 100%;
	}
	.contact-inner-text p {
		font-size: 16px;
	}
	.contact-inner-text button {
		padding: 10px 20px;
		display: block;
		margin: 0 auto;
	}
	.contact-inner-img {
		width: 80%;
		margin: 0 auto;
	}
	.image-container img {
		width: 70%;
	}
	.icons {
		width: 75px;
	}
	.icon-text {
		font-size: 14px !important;
	}

	.experience-section {
		padding: 3rem 0 !important;
	}
	.experience-section .heading {
		width: 80%;
		margin: 0 auto;
	}
	.experience-section h1 {
		font-size: 3rem;
	}
	.grid--item-3 {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
	.experience-card {
		height: 500px;
	}
	.experience-card-overlay {
		padding: 1.5rem;
	}
	.experience-cat {
		font-size: 12px;
	}
	.experience-heading {
		font-size: 1.6rem;
	}
	.experience-text {
		font-size: 16px;
		line-height: 1.6em;
	}
	.experience-bottom-btn {
		font-size: 16px;
		bottom: 30px;
		right: 10px;
	}
	.experience-section .main-button {
		padding: 10px 20px;
	}

	.our-clients-section {
		padding: 2.5rem 0;
	}

	.contactus-section {
		padding: 4rem 0;
	}
	.content h1 {
		font-size: 2rem;
	}
	.content .main-button {
		padding: 10px 25px;
	}

	.column h4 {
		font-size: 1.2rem;
	}
	.column ul li {
		font-size: 13px;
		line-height: 1rem;
	}

	.footer-container {
		padding-left: 10px;
		padding-top: 2rem !important;
		padding-bottom: 1.5rem !important;
	}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
	.text {
		font-size: 15px;
		line-height: 1.4em;
	}
	.container {
		max-width: 100%;
		padding: 0 20px;
	}

	.navbar-nav {
		margin: 25px 0;
	}
	.nav-right {
		margin-bottom: 20px;
	}

	.hero {
		background-size: cover;
	}
	.hero-inner {
		display: block;
		padding-top: 75px;
	}
	.hero-image {
		position: relative;
		width: 80%;
		margin: 0 auto;
		margin-top: 0px;
	}
	.hero-image img {
		height: 450px;
		width: auto;
		max-width: none;
		right: -50px;
		position: relative;
	}
	.image-text {
		left: 0%;
		top: 70%;
		width: 300px;
	}
	.sent p,
	.received p {
		font-size: 14px;
	}
	.hero-content {
		position: relative;
		width: 80%;
		margin: 0 auto;
	}
	.hero-content h1 {
		font-size: 2.6rem;
		margin-bottom: 20px;
	}
	.hero-content button {
		padding: 10px 20px;
	}

	.employees-section {
		padding: 2.5rem 0 3rem;
	}
	.sticky-heading {
		position: relative;
		margin-bottom: 30px;
		top: 0;
	}
	.sticky-heading h1 {
		font-size: 3rem;
	}
	.virtual-employ-cards {
		overflow: auto;
		clear: both;
	}
	.employee {
		position: relative;
		top: 0px;
		width: 46%;
		float: left;
		margin: 2%;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: 0;
	}
	.employee:nth-child(3) {
		left: 0;
	}
	.employee:nth-child(4) {
		left: 0;
	}
	.employee-picture {
		height: 205px;
	}
	.employee-inner {
		padding: 1.5rem;
		min-height: 230px;
	}
	.employee-inner h3 {
		font-size: 1.4rem;
		margin-bottom: 15px;
	}
	.employee-inner .text {
		font-size: 16px;
	}
	.play-button {
		font-size: 14px;
		margin: 10px 0 0 10px;
		padding: 6px 15px;
	}
	.play-button .fas {
		font-size: 14px;
	}

	.contact-center {
		padding: 3rem 0 3rem 0;
	}
	.contact-center .container {
		display: block;
	}
	.contact-inner-text {
		width: 90%;
		margin-left: 0px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.contact-inner-text h1 {
		font-size: 2.8rem;
		width: 100%;
	}
	.contact-inner-text p {
		font-size: 16px;
	}
	.contact-inner-text button {
		padding: 10px 20px;
		display: block;
		margin: 0 auto;
	}
	.contact-inner-img {
		width: 80%;
		margin: 0 auto;
	}
	.image-container img {
		width: 70%;
	}
	.icons {
		width: 75px;
	}
	.icon-text {
		font-size: 14px !important;
	}

	.experience-section {
		padding: 3rem 0 !important;
	}
	.experience-section .heading {
		width: 80%;
		margin: 0 auto;
	}
	.experience-section h1 {
		font-size: 3rem;
	}
	.grid--item-3 {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
	.experience-card {
		height: 500px;
	}
	.experience-card-overlay {
		padding: 1.5rem;
	}
	.experience-cat {
		font-size: 12px;
	}
	.experience-heading {
		font-size: 1.5rem;
	}
	.experience-text {
		font-size: 16px;
		line-height: 1.6em;
	}
	.experience-bottom-btn {
		font-size: 16px;
		bottom: 30px;
		right: 10px;
	}
	.experience-section .main-button {
		padding: 10px 20px;
	}

	.our-clients-section {
		padding: 2.5rem 0;
	}

	.contactus-section {
		padding: 4rem 0;
	}
	.content h1 {
		font-size: 2rem;
	}
	.content .main-button {
		padding: 10px 25px;
	}

	.column h4 {
		font-size: 1.2rem;
	}
	.column ul li {
		font-size: 15px;
		line-height: 1rem;
	}

	.footer-container {
		padding: 0 30px;
		padding-top: 2rem !important;
		padding-bottom: 1.5rem !important;
	}
}

@media screen and (min-width: 425px) and (max-width: 639px) {
	.text {
		font-size: 15px;
		line-height: 1.4em;
	}
	.container {
		max-width: 100%;
		padding: 0 20px;
	}

	.navbar-nav {
		margin: 25px 0;
	}
	.nav-right {
		margin-bottom: 20px;
	}

	.hero {
		background-size: cover;
	}
	.hero-inner {
		display: block;
		padding-top: 75px;
	}
	.hero-image {
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 0px;
	}
	.hero-image img {
		height: 450px;
		width: auto;
		max-width: none;
		right: -50px;
		position: relative;
	}
	.image-text {
		left: 0%;
		top: 70%;
		width: 300px;
	}
	.sent p,
	.received p {
		font-size: 14px;
	}
	.hero-content {
		position: relative;
		width: 90%;
		margin: 0 auto;
	}
	.hero-content h1 {
		font-size: 2.2rem;
		margin-bottom: 20px;
	}
	.hero-content button {
		padding: 10px 20px;
	}

	.employees-section {
		padding: 2.5rem 0 1rem;
	}
	.sticky-heading {
		position: relative;
		margin-bottom: 30px;
		top: 0;
	}
	.sticky-heading h1 {
		font-size: 2.5rem;
	}
	.virtual-employ-cards {
		overflow: auto;
		clear: both;
	}
	.employee {
		position: relative;
		top: 0px;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 50px;
		float: none;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: 0;
	}
	.employee:nth-child(3) {
		left: 0;
	}
	.employee:nth-child(4) {
		left: 0;
	}
	.employee-picture {
		height: auto !important;
	}
	.employee-inner {
		padding: 1.5rem;
		min-height: 50px;
	}
	.employee-inner h3 {
		font-size: 1.4rem;
		margin-bottom: 15px;
	}
	.employee-inner .text {
		font-size: 16px;
	}
	.play-button {
		font-size: 14px;
		margin: 10px 0 0 10px;
		padding: 6px 15px;
	}
	.play-button .fas {
		font-size: 14px;
	}

	.contact-center {
		padding: 3rem 0 3rem 0;
	}
	.contact-center .container {
		display: block;
	}
	.contact-inner-text {
		width: 100%;
		margin-left: 0px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.contact-inner-text h1 {
		font-size: 2.2rem;
		width: 100%;
	}
	.contact-inner-text p {
		font-size: 14px;
	}
	.contact-inner-text button {
		padding: 10px 20px;
		display: block;
		margin: 0 auto;
	}
	.contact-inner-img {
		width: 100%;
		margin: 0 auto;
	}
	.image-container img {
		width: 70%;
	}
	.icons {
		width: 65px;
	}
	.icon-text {
		font-size: 12px !important;
	}

	.experience-section {
		padding: 3rem 0 !important;
	}
	.experience-section .py-5 {
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	.experience-section .heading {
		width: 100%;
		margin: 0 auto;
	}
	.experience-section h1 {
		font-size: 2.5rem;
	}
	.grid--item-3 {
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
		width: 90%;
	}
	.experience-card {
		height: 500px;
	}
	.experience-card-overlay {
		padding: 1.7rem;
	}
	.experience-cat {
		font-size: 12px;
	}
	.experience-heading {
		font-size: 1.5rem;
	}
	.experience-text {
		font-size: 16px;
		line-height: 1.6em;
	}
	.experience-bottom-btn {
		font-size: 16px;
		bottom: 30px;
		right: 10px;
	}
	.experience-section .main-button {
		padding: 10px 20px;
	}

	.our-clients-section {
		padding: 2.5rem 0;
	}
	.clients-heading {
		margin-bottom: 1rem;
	}
	.clients-title {
		font-size: 2.2rem;
		text-align: left !important;
	}
	#next {
		right: 20px;
	}
	#prev {
		right: 80px;
	}

	.contactus-section {
		padding: 4rem 0;
	}
	.content h1 {
		font-size: 2rem;
	}
	.content .main-button {
		padding: 10px 25px;
	}

	.column h4 {
		font-size: 1.2rem;
	}
	.column ul li {
		font-size: 15px;
		line-height: 1rem;
	}

	.footer-container {
		padding: 0 30px;
		padding-top: 2rem !important;
		padding-bottom: 1.5rem !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 424px) {
	.text {
		font-size: 15px;
		line-height: 1.4em;
	}
	.container {
		max-width: 100%;
		padding: 0 20px;
	}

	.navbar-nav {
		margin: 25px 0;
	}
	.nav-right {
		margin-bottom: 20px;
	}

	.hero {
		background-size: cover;
	}
	.hero-inner {
		display: block;
		padding-top: 50px;
	}
	.hero-image {
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 0px;
	}
	.hero-image img {
		height: 450px;
		width: auto;
		max-width: none;
		right: -50px;
		position: relative;
	}
	.image-text {
		left: 0%;
		top: 70%;
		width: 225px;
	}
	.sent p,
	.received p {
		font-size: 12px;
		line-height: 1rem;
	}
	.hero-content {
		position: relative;
		width: 90%;
		margin: 0 auto;
	}
	.hero-content h1 {
		font-size: 1.8rem;
		margin-bottom: 20px;
	}
	.hero-content button {
		padding: 10px 20px;
	}

	.employees-section {
		padding: 2.5rem 0 1rem;
	}
	.sticky-heading {
		position: relative;
		margin-bottom: 30px;
		top: 0;
	}
	.sticky-heading h1 {
		font-size: 1.8rem;
	}
	.virtual-employ-cards {
		overflow: auto;
		clear: both;
	}
	.employee {
		position: relative;
		top: 0px;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 50px;
		float: none;
	}
	.employee:nth-child(1) {
		left: 0px;
	}
	.employee:nth-child(2) {
		left: 0;
	}
	.employee:nth-child(3) {
		left: 0;
	}
	.employee:nth-child(4) {
		left: 0;
	}
	.employee-picture {
		height: auto !important;
	}
	.employee-inner {
		padding: 1.5rem;
		min-height: 50px;
	}
	.employee-inner h3 {
		font-size: 1.4rem;
		margin-bottom: 15px;
	}
	.employee-inner .text {
		font-size: 16px;
	}
	.play-button {
		font-size: 14px;
		margin: 10px 0 0 10px;
		padding: 6px 15px;
	}
	.play-button .fas {
		font-size: 14px;
	}

	.contact-center {
		padding: 3rem 0 3rem 0;
	}
	.contact-center .container {
		display: block;
	}
	.contact-inner-text {
		width: 100%;
		margin-left: 0px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.contact-inner-text h1 {
		font-size: 2.2rem;
		width: 100%;
	}
	.contact-inner-text p {
		font-size: 14px;
	}
	.contact-inner-text button {
		padding: 10px 20px;
		display: block;
		margin: 0 auto;
	}
	.contact-inner-img {
		width: 100%;
		margin: 0 auto;
	}
	.image-container img {
		width: 70%;
	}
	.icons {
		width: 60px;
	}
	.icon-text {
		font-size: 10px !important;
	}

	.experience-section {
		padding: 3rem 0 !important;
	}
	.experience-section .py-5 {
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	.experience-section .heading {
		width: 100%;
		margin: 0 auto;
	}
	.experience-section h1 {
		font-size: 1.8rem;
	}
	.grid--item-3 {
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
		width: 100%;
	}
	.experience-card {
		height: 500px;
	}
	.experience-card-overlay {
		padding: 1.7rem;
	}
	.experience-cat {
		font-size: 12px;
	}
	.experience-heading {
		font-size: 1.5rem;
	}
	.experience-text {
		font-size: 16px;
		line-height: 1.6em;
	}
	.experience-bottom-btn {
		font-size: 16px;
		bottom: 30px;
		right: 10px;
	}
	.experience-section .main-button {
		padding: 10px 20px;
	}

	.our-clients-section {
		padding: 2.5rem 0;
	}
	.clients-heading {
		margin-bottom: 1rem;
	}
	.clients-title {
		font-size: 1.8rem;
		text-align: left !important;
	}
	.nav-button {
		height: 2.2rem;
		width: 2.2rem;
	}
	#next {
		right: 20px;
	}
	#prev {
		right: 60px;
	}

	.contactus-section {
		padding: 4rem 0;
	}
	.content h1 {
		font-size: 1.6rem;
	}
	.content .main-button {
		padding: 10px 25px;
	}

	.column h4 {
		font-size: 1.2rem;
	}
	.column ul li {
		font-size: 15px;
		line-height: 1rem;
	}

	.footer-container {
		padding: 0 30px;
		padding-top: 2rem !important;
		padding-bottom: 1.5rem !important;
	}
}
